
body {
    font-family: Arial, sans-serif;
    margin: 50px;
    background-color: rgb(224, 233, 244);
}

h1 {
    text-align: center;
    color: blue;
}

form {
    text-align: center;
    margin-bottom: 20px;
}

input[type="text"] {
    width: 300px;
    padding: 10px;
    margin-right: 10px;
    color: blue;
}

button {
    padding: 10px 15px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

li .completed {
    text-decoration: line-through;
}

li button {
    margin-left: auto;
    background: blue;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

li button:hover {
    background: pink;
}
